/*body*/


body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(15, 15, 19);
}

.divisor {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    
}

.divisor-1{
    background-color: rgb(15, 15, 19);
    padding: 25px;
}