/*Seccion contacto*/

.logos {

    display: flex;
    justify-content: center;
    width: 150px;
    margin: 150px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: antiquewhite;
    border-radius: 30px;
}