/*Seccion contacto*/

.logos {

    width: 250px;
    margin: 150px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}
.logos-f {
   padding-left: 60px;
   
   
}