/*imagenes / iconografía*/

.fotoHome {
    max-width: 100%;
    height: auto;
    border-radius: 22px;
}


.contenedor {

    .img1,
    .img2 {
        width: 100%;
        border-radius: 22px;
        border-color: antiquewhite;

    }
}

